:host {
    display: flex;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: .5rem;
}

.pages {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
    width: 100%;
}

.page {
    width: 100%;
    object-fit: cover;
    background-color: #ccc;
}

.loading-item {
    width: 100%;
    aspect-ratio: 1/1.4142;
    background-color: #ccc;
}