:host {
    display: block;
    background-color: var(--background-color-2);
    padding: 1rem;
    box-sizing: border-box;
    height: 90vh;
    width: 80vw;
    overflow-y: auto;
    position: relative;
}
.container {
    position: relative;
}

.file {
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    transition: .2s;
    &--selected {
        box-sizing: border-box;
        border: 6px solid var(--primary-color);
    }
}

.files {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
    height: fit-content;
    max-height: calc(90vh - 2rem);
}

.actions {
    position: absolute;
    display: flex;
    gap: .5rem;
    top: 0;
    right: 0;
}