:host {
    display: block;
    background-color: var(--background-color-2);
    padding: 1rem;
    box-sizing: border-box;
    max-height: 90vh;
    width: 40vw;
    overflow-y: auto;
    border-radius: 6px;
}

.article {
    display: grid;
    &__text {
        max-height: 45vh;
    }
    &__details {
        height: 10vh;
    }
    &__files {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: inherit;
        gap: 10px;
        margin-bottom: 10px;
    }
    &__files-add-btn {
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .1s ease-in-out;
        mat-icon {
            transform: scale(2.5);
        }
        &:hover {
            background-color: hsl(0, 0%, 70%);
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
    }
    &__positive-actions {
        display: flex;
        gap: .5rem;
    }
}


.file, .article__files-add-btn {
    cursor: pointer;
    height: 7rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
    &__image {
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &__buttons-wrapper {
        position: absolute;
        display: flex;
        right: 3px;
        height: 3px;
        z-index: 999;
    }
    button {
        transform: scale(.7);
    }
}

textarea {
    line-height: 1.6;
}