:host {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;
}

.widget {
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 6px;
    background-color: var(--background-color-2);
    width: 100%;
    &__actions {
        display: flex;
        width: 100%;
        justify-content: right;
        margin-top: -1rem;
    }
    mat-form-field {
        width: 100%;
        textarea {
            height: 5rem;
            line-height: 1.6;
            resize: none;
        }
    }
}