:host {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 60vh;
    overflow-y: overlay;
    box-sizing: border-box;
    padding: .1rem;
}

.article {
    display: grid;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 0;
    padding-bottom: .6rem;
    background-color: var(--background-color-3);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    &__text-info {
        margin-left: -.3rem;
    }
    &__details  {
        background-color: var(--accent-color);
        display: flex;
        width: fit-content;
        margin-top: .3rem;
        align-items: center;
        gap: .3rem;
        padding: .2rem .5rem;
        border-radius: 6px;
        color: #fff;
        box-sizing: border-box;
        * {
            display: flex;
            align-items: center;
            mat-icon {
                transform: scale(.7);
            }   
        }
    }
    &__date {
        margin-bottom: 0;
    }
    &--empty {
        cursor: initial;
        padding: 1rem;
        color: var(--accent-color);
    }
}

.list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.cdk-drag-preview {
    box-sizing: border-box;;
}

.cdk-drag-placeholder {
    box-shadow: none;
    background: var(--placeholder-color);
    border: dashed 4px var(--placeholder-border-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: fit-content;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    * {
        opacity: 0;
        padding: 0;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}