.header {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    box-sizing: border-box;
    position: relative;
    &__title {
        transform: translateY(8px);
        cursor: pointer;
        user-select: none;
    }
    &__loader {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}