:host {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: max-content;
}

.lists {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    overflow-x: auto;
    padding-bottom: .5rem;
}
