:host {
    display: flex;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: .5rem;
}

.files {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 1rem;
}

.actions {
    display: flex;
}

.file {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    align-items: flex-start;
    overflow: hidden;
    background-color: var(--background-color-2);
    height: 240px;
    cursor: pointer;
    &__image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    &__image-actions {
        position: absolute;
        right: 0;
    }
    &__image-action {
        transform: scale(.8);
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    &__content-wrapper {
        padding: .5rem;
    }
}