
<div class="files" *ngIf="files$ | async as files">
    <div class="file mat-elevation-z2" *ngFor="let file of files">
        <div class="file__image-wrapper">
            <div class="file__image-actions">
                <button (click)="onDownloadFile(file)" class="file__image-action" mat-mini-fab color="accent"><mat-icon>download</mat-icon></button>
                <button (click)="onDeleteFile(file)" class="file__image-action" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
            </div>
            <img class="file__image" [src]="file.pdf ? pdfImageUrl : file.imageUrl">
        </div>
        <div class="file__content-wrapper">
            <span class="file__name">{{ file.name }}</span>
        </div>
    </div>
</div>
<div class="actions">
    <input (change)="onUploadFile($event)" type="file" style="display: none;" #fileInput>
    <button (click)="fileInput.click()" mat-mini-fab color="primary"><mat-icon>upload</mat-icon></button>
</div>