.list {
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-2);
    height: 80%;
    &__content {
        padding: .9rem;
        padding-bottom: 0;
    }
    &__title {
        margin-bottom: 5px;
        line-height: normal;
        font-size: 1.3rem;
        font-weight: 500;
    }
    &__actions {
        display: flex;
        padding: .9rem;
        background-color: var(--background-color-1);
        border-radius: 4px;
    }
    &__button {
        width: 100%;
        background-color: var(--primary-color);
    }
}